<ion-header>
  <ion-navbar>
    <ion-title>Gerenciar Usuários</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="users-container">
    <div class="card-user-container" *ngFor='let unapprovedUser of unapprovedUsers'>
      <div class="user-name-container">
        <span class="user-name">{{unapprovedUser.name}}</span>
      </div>
      <div class="user-email-container">
        <span class="user-email">{{unapprovedUser.email}}</span>
      </div>
      <div class="user-marca-container">
        <span class="user-marca">{{unapprovedUser.modelo}} - {{unapprovedUser.placa}}</span>
      </div>
      <div class="button-container row">
        <div class="col button-approve-container">
          <button class="button-approve" [disabled]="unapprovedUser.approved" (click)="aprovar(unapprovedUser._id)">Aprovar</button>
        </div>
        <div class="col button-disapprove-container">
          <button class="button-disapprove" [disabled]="!unapprovedUser.approved" (click)="desaprovar(approvedUser._id)">Desaprovar</button>
        </div>
      </div>
    </div>
    <div class="card-user-container" *ngFor='let approvedUser of approvedUsers'>
        <div class="user-name-container">
          <span class="user-name">{{approvedUser.name}}</span>
        </div>
        <div class="user-email-container">
          <span class="user-email">{{approvedUser.email}}</span>
        </div>
        <div class="user-marca-container">
          <span class="user-marca">{{approvedUser.modelo}} - {{approvedUser.placa}}</span>
        </div>
        <div class="button-container row">
          <div class="col button-approve-container">
            <button class="button-approve" [disabled]="approvedUser.approved" (click)="aprovar(approvedUser._id)">Aprovar</button>
          </div>
          <div class="col button-disapprove-container">
            <button class="button-disapprove" [disabled]="!approvedUser.approved" (click)="desaprovar(approvedUser._id)">Desaprovar</button>
          </div>
        </div>
      </div>
  </div>
</ion-content>