<ion-header>

  <ion-navbar>
    <ion-title>aprovar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Não aprovados
  <table class="row-border hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Carro</th>
        <th>Placa</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let unapprovedUser of unapprovedUsers'>
        <td>{{unapprovedUser.name}}</td>
        <td>{{unapprovedUser.email}}</td>
        <td>{{unapprovedUser.marca}} - {{unapprovedUser.modelo}}</td>
        <td>{{unapprovedUser.plate}}</td>
        <td>
          <button (click)="aprovar(unapprovedUser._id)">Aprovar</button>
        </td>
      </tr>
      <tr *ngIf="unapprovedUsers?.length == 0">
        <td colspan="3" class="no-data-available">Nenhum usuário encontrado para aprovação!</td>
      </tr>
    </tbody>
  </table>


  <table class="row-border hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Carro</th>
        <th>Placa</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let approvedUser of approvedUsers'>
        <td>{{approvedUser.name}}</td>
        <td>{{approvedUser.email}}</td>
        <td>{{approvedUser.marca}} - {{approvedUser.modelo}}</td>
        <td>{{approvedUser.plate}}</td>
        <td>
          <button (click)="desaprovar(approvedUser._id)">Desaprovar</button>
        </td>
      </tr>
      <tr *ngIf="approvedUsers?.length == 0">
        <td colspan="3" class="no-data-available">Nenhum usuário encontrado para inativar!</td>
      </tr>
    </tbody>
  </table>

</ion-content>
